<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
  <add name="localConnection"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=IN-CSCI-ASPNET;Initial Catalog=maniodel;Integrated Security=False;User Id=maniodel;Password=m5823ode;MultipleActiveResultSets=True" />
  </connectionStrings>
  <location allowOverride="false">
    <system.web>
      <customErrors mode="Off"/>
    </system.web>
  </location>
</configuration>